{% extends 'catalog/base.html' %}
{% load mediapath %}
{% block content %}
<div class="container">
    <h1 class="display-4 text-center my-5">Список товаров</h1>
    <div class="row">
        {% for product in products %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ product.image|mediapath }}" class="card-img-top" alt="{{ product.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description|slice:":100" }}</p>
                        <p class="card-text">Цена: {{ product.price }} руб.</p>
                        <a href="{% url 'catalog:product_detail' product.id %}" class="btn btn-primary">Подробнее</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}